@font-face {
  font-family: "SF Pro Display";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-light.woff2") format("woff2"),
    url("../fonts/SFProDisplay-light.woff") format("woff");
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  padding: 40px 200px 60px;
  display: grid;
  grid-template-columns: min-content max-content min-content;
  grid-gap: 132px;
  align-items: center;
}
.header-nav__list {
  width: 522px;
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-gap: 40px;
}

.footer-info__social-list {
  display: flex;
}
.footer-nav__list {
  display: flex;
}
.footer-nav__item {
  display: grid;
}
